
/************************************************************************/
/*****************************   Base CSS   *****************************/
/************************************************************************/

html,
body {
  height: 100%;
  width: 100%;
  font-family: Monda, sans-serif;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  color: #363b3e;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}
.margin-bottom {
  margin-bottom: 15px;
}
.margin-top {
  margin-top: 15px;
}

#wrapper {
  position: relative;
  min-height: 100%;
}
.hidden {
  display: none;
}
.lit-up {
  position: relative;
  z-index: 2;
}
.overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  min-width: 1080px;
  background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.75) 100%);
  background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0.75)));
  background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.75) 100%);
  background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.75) 100%);
  background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.75) 100%);
  background: radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.75) 100%);
  z-index: 1;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
#header {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #DDD;
  text-align: left;
}
#main {
  min-height: 400px;
  padding: 60px;
}
#footer {
  display: block;
  position: absolute;
  bottom: 0px;
  line-height: 90px;
  height: 90px;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  border-top: 1px solid #DDD;
  text-align: center;
}
#logo {
  display: inline-block;
  height: 60px;
  width: 60px;
  background: url('../img/Onboarded-logo.png');
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#logo:hover {
  -webkit-filter: invert(50%);
  -moz-filter: invert(50%);
  filter: invert(50%);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#logo:active {
  -webkit-filter: invert(70%);
  -moz-filter: invert(70%);
  filter: invert(70%);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.top {
  margin-top: 60px;
}
.tag {
  color: #777;
}
#start {
  padding: 15px 30px;
  color: #FFF;
  border: none;
  background: rgb(224, 89, 89);
}
#start:hover {
  background: rgb(214, 79, 79)
}
#start:active {
  background: rgb(204, 69, 69)
}
#headerItemOne,
#headerItemTwo {
  display: inline-block;
  height: 60px;
  padding: 0px 30px;
  font-weight: 700;
  background: #FFF;
}
#headerItemOne:hover,
#headerItemTwo:hover {
  background: #EEE;
}
#headerItemOne:active,
#headerItemTwo:active {
  background: #DDD;
}
#headerItemOne {
  border-right: 1px solid #DDD;
}
#headerItemTwo {
  position: absolute;
  right: 0px;
  border-left: 1px solid #DDD;
}
#mainItemOne {
  width: 50%;
  margin: 30px auto 0px;
  padding: 15px;
  font-size: 15px;
  line-height: 15px;
  background: #FFF;
}
#footerItemOne {
  display: inline-block;
  height: 90px;
  padding: 0px 15px;
  margin-bottom: 0px auto;
  line-height: 90px;
  background: #FFF;
}

.oc {
  position: absolute;
  top: 0px;
  height: 0%;
  width: 100%;
  z-index: 2;
}
.oc h2 {
  color: #999;
}
.oc button {
  margin: 15px 4px;
  padding: 6px 12px;
  color: #444;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid #444;
  background: transparent;
  border-radius: 2px;
}
.oc button:hover {
  color: #444;
  border-color: #444;
  background: #EEE;
}
.oc button:active {
  color: #333;
  border-color: #333;
  background: #DDD;
}
.oc #endFlow {
  padding: 7px 12px;
  color: #FFF;
  border: none;
  background: rgb(224, 89, 89);
}
#step-one {
  position: absolute;
  top: 75px;
  left: 15px;
  width: 50%;
  margin: 0px auto;
  padding: 60px;
  background: #FFF;
}
#step-two {
  position: absolute;
  top: 75px;
  right: 15px;
  width: 30%;
  margin: 0px auto;
  padding: 60px;
  background: #FFF;
}
#step-three {
  position: fixed;
  bottom: 105px;
  left: 50%;
  width: 240px;
  margin: 0px 0px 0px -180px;
  padding: 60px;
  background: #FFF;
}
#step-four {
  position: absolute;
  top: 104px;
  left: 50%;
  width: 240px;
  margin: 0px 0px 0px -180px;
  padding: 60px;
  background: #FFF;
}
